body {
  background-color: #292a2d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Product Sans', sans-serif;
  color: white;
}

.id,
.password {
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 10px;
  color: rgb(247, 248, 248);
  height: 50px;
  appearance: none;
  transition: border 0.15s ease 0s;
  width: 500px;
  font-family: 'Product Sans', sans-serif;
}

header {
  background-color: #1f1f1f;
  color: white;
  padding: 30px;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
  height: 150px;
  font-family: 'Product Sans Black', sans-serif;
}

h1 {
  color: white;
  padding: 20px;
}

h2 {
  color: white;
  padding: 20px;
}
h3 {
  color: white;
  padding: 10px;
  margin-top: 40px;
  margin-right: 270px;
}

header img {
  width: 100px;
  margin-right: 10px;
}

header img {
  width: 100px;
  margin-right: 10px;
}

form {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 540px;
  height: 320px;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
  font-family: 'Product Sans medium', sans-serif;
  text-align: center;
}

.custom-dialog {
  width: 200px;
  height: 200px;
}

.custom-card {
  width: 600px;
  height: 230px;
  background-color: #1f1f1f;
  color: white;
  font-size: 25px;
}

.login-button {
  margin-right: 250px;
}

.register-button {
  margin-left: 250px;
  margin-top: -39px;
}
