img {
  width: 100px;
  margin-bottom: 20px;
}

.body {
  background-color: #292a2d;
  height: 100vh;
  margin: 0;
  font-family: 'Product Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header {
  background-color: #1f1f1f;
  color: white;
  width: 100%;
  font-family: 'Product Sans Black', sans-serif;
}

.column {
  width: 50%;
  padding: 10px;
}

.nav-bar {
  font-family: 'Product Sans Medium', sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav-link:hover,
.active {
  background-color: #595959;
  color: #ebebeb;
  border-radius: 10px;
}
